footer {
  --f-height-logo: 100px;
  --f-height-item: 50px;
  background-color: hsl(0, 0%, 25%);
  color: hsl(0, 0%, 85%);
  font-size: 1.1rem;
  font-weight: 500;
}

footer img {
  height: calc(var(--f-height-logo) - 10px);
  object-fit: contain;
  border-radius: 50%;
}

.footer-logo {
  height: var(--f-height-logo);
}

.footer-item {
  height: var(--f-height-item);
}

.footer-item p {
  margin-bottom: 0px !important;
}
