.news-wrapper {
  background-color: rgb(245, 245, 245);
  color: black;
  height: 700px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.news-wrapper::-webkit-scrollbar {
  display: none;
}

@media (max-width: 992px) {
  .news-wrapper {
    height: 450px;
    overflow-y: hidden;
  }
}

[class*="info-block"] {
  height: 140px;
  color: aliceblue;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  transition: background-color 0.4s ease;
}

[class*="info-block"] p {
  margin: 0;
  padding: 10px;
}

@media (max-width: 1140px) {
  [class*="info-block"] {
    font-size: 0.8rem;
  }
}

@media (max-width: 540px) {
  [class*="info-block"] {
    font-size: 0.65rem;
    font-weight: 500;
  }
}

.info-block-1 {
  background-color: var(--primary-blue);
}

.info-block-2 {
  background-color: var(--primary-blue-100);
}

.info-block-3 {
  background-color: var(--primary-blue-200);
}

.info-block-4 {
  background-color: var(--primary-blue-300);
}

.info-block-5 {
  background-color: var(--primary-blue-400);
}

[class*="info-block"]:hover {
  background-color: rgb(3, 172, 152);
}
