:root {
  --primary-blue: rgb(28, 66, 157);
  --primary-blue-100: rgb(42, 77, 158);
  --primary-blue-200: rgb(51, 83, 156);
  --primary-blue-300: rgb(73, 97, 154);
  --primary-blue-400: rgb(88, 108, 156);
  --primary-transparent: rgba(255, 255, 255, 0);
}

body {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.poop {
  height: 200vh;
}
