.navbar {
  height: 5.5rem;
}

.scrolled {
  height: auto;
}

.navbar-nav > li > a {
  border: 3px solid var(--primary-transparent);
}

.navbar-nav > li > a.focus {
  border-top: 3px solid var(--primary-blue);
}
.navbar-nav > li > a:hover {
  border-top: 3px solid var(--primary-blue);
}
